<ion-header>
  <ion-toolbar>
    <ion-title>Foto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-card *ngFor="let data of data">

    <img src="{{data.foto}}"/>
    <ion-card-content>
      <ion-item lines="inset" routerLink="/details/{{data.id}}">

        <ion-label>{{data.nombre}} {{data.apellido}}</ion-label>
      </ion-item>
      <p>
        Edad: {{data.edad}}
      </p>
    </ion-card-content>
  </ion-card>
  
</ion-content>
