<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Parcial 01
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card *ngFor="let data of data">

    <ion-card-content>
      <ion-item lines="inset" routerLink="/details/{{data.id}}">

        <ion-label>{{data.nombre}} {{data.apellido}}</ion-label>
      </ion-item>
      <p>
        Edad: {{data.edad}}
      </p>
    </ion-card-content>
  </ion-card>
  
</ion-content>
